# Laravel cache, storage
/.phpunit.cache
/storage/*.key
/storage/pail
/storage/logs/*
/vendor

# Node/Vite
/node_modules
/public/build
/public/hot
/public/storage

# Environment
.env
.env.*
!.env.example

# PHP tools
.phpactor.json
.phpunit.result.cache

# Laravel Homestead
Homestead.json
Homestead.yaml

# Debug logs
npm-debug.log
yarn-error.log

# Composer auth
/auth.json

# IDE/Editor settings
/.fleet
/.idea
/.nova
/.vscode
/.zed
