/* resources/css/admin/users.css */

#users-table td:nth-child(7),
#users-table th:nth-child(7) {
    text-align: center;
}

.badge {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    font-weight: 600;
    border-radius: 0.25rem;
}

